<?xml version="1.0"?>
<model>
  <name>iris_pendulum</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>lorenz@px4.io</email>
  </author>

  <description>
    This is a model of the Iris Quadrotor with Pendulum. The original model of iris has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>